@import "~bootstrap/scss/bootstrap";

.header__banner {
    width: 100%;
    height: 56px;
    position: relative;

    .banner1,
    .banner2 {
        width: 100vw;
        height: 56px;
    }
}
