@import "../../../assets/variable/variable";

.card-product-small {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;

    h5 {
        font-size: 1.6rem;
        color: $text-main-color-2;
    }

    span {
        font-size: 1.3rem;
    }

    .card-product-small-wrap-img {
        overflow: hidden;

        img {
            object-fit: contain;
            width: 180px;
            height: 100px;

            &:hover {
                transition: all 0.4s;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}
