$primary-color: #1435c3;
$text-sub-color: #9c9c9c;
$text-main-color: #696969;
$text-white-color: white;
$text-main-color-2: #4d4c4c;
$hover-primary-color: #193cd8;
$bg-color-primary: white;
$price-discount-color: rgb(48, 150, 179);
$bg-button-primary: rgb(230, 238, 255);
$bg-page-primary: #e2e1e1;
$bg-near-title: black;
