@import "../../assets/variable/variable";

.main {
    width: 100%;
    height: fit-content;
    background-color: $bg-page-primary;

    .main__wrap-bigCardWrap {
        display: flex;
        width: 90%;
        margin: auto;

        a {
            margin-bottom: 16px;
            background-color: white;
            &:hover {
                text-decoration: none;
            }
        }

        a:nth-child(1) {
            margin-right: 16px;
        }
    }

    .product__item-wrapAdsHorizontal {
        a {
            width: 25%;
        }
    }

    .main__bestSellProduct {
        .besSellProduct-wrap-name {
            a {
                color: $text-main-color-2;
                width: 8%;
                background-color: transparent !important;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .main__wrap-productItemHorizontalBigger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;

        a {
            width: 32%;
            background-color: transparent !important;
            .main__banner__product-item-adsHorizon {
                width: 100%;
                .product-item-adsHorizon-wrapimg {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 374px) and (max-width: 800px) {
    .add-space {
        display: none;
    }

    .main__wrap-bigCardWrap {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 100%;

            .main__bigCardWrapProduct {
                .bigCardWrapProduct-product-item {
                    .card-product-small {
                        h5,
                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }
                }
            }
        }
        a:nth-child(1) {
            margin-right: 0 !important;
        }
    }

    .main__wrap-productItemHorizontalBigger {
        display: none !important;
    }
    .main__bestSellProduct {
        display: none;
    }

    .containerProduct {
        .containerProduct-wrap-product {
            flex-wrap: wrap;
            a {
                width: 50%;
                .card_product_big_size {
                    width: 100% !important;
                }
            }
        }
    }
}
