.sale_product-item {
    display: flex;
    position: absolute;
    width: 80%;
    height: 70%;
    bottom: 4%;
    right: 1%;

    a {
        margin-right: 5px !important;

        &:hover {
            text-decoration: none;
        }

        .card_product_big_size {
            height: 100%;
            .card_product_big_size-sub {
                img {
                    width: 100%;
                    height: 70%;
                    margin: auto;
                }
            }
            .card_product-gift {
                img {
                    margin: 0 4px;
                }
            }
        }
    }
}
