.sale_product-item {
    display: flex;
    position: absolute;
    height: 78%;
    bottom: 4%;
    right: 1%;

    a {
        margin-right: 5px !important;

        &:hover {
            text-decoration: none;
        }
    }
}
