.housewear {
    width: 100%;
    img {
        // object-fit: contain;
        width: 100%;
    }

    .housewear__wrap {
        background: rgb(252, 232, 208);

        .housewear__wrap__policy {
            display: flex;
            justify-content: space-between;
            width: 90%;
            margin: auto;
            img {
                width: 25%;

                &:hover {
                    transition: all 0.2s;
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }
        }

        a:hover {
            text-decoration: none;
        }
    }
}
