@import "../../../assets/variable/variable";

.main__productForU {
    width: 90%;
    margin: auto;
    background-color: $bg-color-primary;
    border-radius: 10px;
    margin-top: 16px;
    padding-top: 16px;
    position: relative;

    .productForU-wrap-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 97%;
        margin: auto;
        h4 {
            font-size: 2rem;

            &::after {
                content: "";
                width: 3px;
                height: 20px;
                position: absolute;
                top: 2%;
                left: 0;
                background-color: $bg-near-title;
            }
        }

        p {
            font-size: 1.4rem;
            margin: 0;
        }
    }

    .productForU-wrap-product {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $bg-border-separate-product;
        padding-top: 16px;

        .card_product_big_size {
            margin: 0;
            border-radius: 0;
        }
    }
}
