@import "../../assets/variable/variable";

.accessories {
    background-color: $bg-page-primary;
    padding-top: 20px;
    .containerProduct-wrap-product {
        display: flex;
        flex-wrap: wrap;
        a {
            width: 20%;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 374px) and (max-width: 800px) {
    .containerProduct-wrap-product {
        a {
            width: 50%;
        }
    }
}
