.footer__payment {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .footer__payment-methodPayment {
        h4 {
            margin: 16px 0;
        }

        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-right: 16px;
                font-size: 1.2rem;

                i {
                    font-size: 2.6rem;
                }
            }
            li:nth-child(4) {
                padding-top: 16px;
            }
        }
    }

    .footer__payment-listPayment {
        img {
            width: 100%;
        }
        h4 {
            margin: 16px 0;
        }
    }
}

@media (min-width: 374px) and (max-width: 800px) {
    .footer__payment {
        flex-direction: column;
        .footer__payment-listPayment {
            img {
                width: 100%;
            }
        }
    }
}
