$primary-color: #1435c3;

$text-sub-color: #9c9c9c;
$text-main-color: #696969;
$text-white-color: white;
$text-main-color-2: #2e2d2d;
$text-onlyLeft-color: rgb(228, 115, 10);

$hover-primary-color: #193cd8;
$price-discount-color: rgb(48, 150, 179);

$bg-color-primary: white;
$bg-button-primary: rgb(230, 238, 255);
$bg-page-primary: #e2e1e1;
$bg-near-title: black;
$bg-border-separate-product: rgb(230, 230, 230);
$bg-hover-color-carousel: rgba(228, 226, 226, 0.7);
$bg-footer-color: rgba(228, 226, 226, 0.7);
