@import "~bootstrap/scss/bootstrap";

.header {
    width: 100%;
    position: relative;
}

@media (min-width: 374px) and (max-width: 700px) {
    .header__banner {
        display: none;
    }
}
