@import "../../../assets/variable/variable";

.productDetail-page__show {
    display: flex;
    width: 70%;
    // margin: auto;

    .show__img {
        width: 40%;
        margin-right: 16px;

        .show__img--big {
            width: 100%;
            height: 340px;
            border-bottom: 1px solid rgb(214, 212, 212);
            margin-bottom: 10px;
        }

        .show__img--discribe {
            display: flex;
            align-items: center;
            // justify-content: space-around;
            margin: auto;
            img {
                width: 50px;
                height: 50px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .show__info {
        width: 60%;
        background-color: $bg-color-primary;

        h3 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.4rem;
            color: $text-main-color;
        }

        .show__info--brand {
            font-size: 1.4rem;
            color: $primary-color;
            font-weight: 500;
        }

        .show__info--onlyLeft {
            font-size: 1.4rem;
            color: $text-onlyLeft-color;
        }

        .show__info--price {
            font-size: 3rem;
            color: $primary-color;
            font-weight: 500;
        }

        button {
            width: 100%;
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $text-white-color;
            font-weight: 500;
            background-color: $primary-color;
            padding: 12px 0;
            border-radius: 4px;
            margin-bottom: 20px;

            &:hover {
                background-color: rgb(6, 6, 155);
                cursor: pointer;
            }
        }

        ul {
            margin-top: 20px;

            h5 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 10px;
            }

            li {
                margin-left: 32px;
                font-size: 1.4rem;
                margin-bottom: 10px;

                strong {
                    font-size: 1.4rem;
                }

                span {
                    font-size: 1.4rem;
                    color: $primary-color;
                }
            }
        }
    }
}
